{{ if .Site.Data.careers.enable }}
{{ "<!-- Careers Section Start -->" | safeHTML }}
<section class="service-list section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Data.careers.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Data.careers.title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Data.careers.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
                <div class="title text-center">
                    <a href="{{ with .Site.Data.careers.btnURL }}{{ . | absURL }}{{ end }}" class="btn btn-main">{{ with .Site.Data.careers.btnText }}{{ . }}{{ end }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Data.careers.item }}
            <div class="col-md-4">
                <div class="block">
                    {{ with .icon }}<i class="{{.}}"></i>{{ end }}
                    {{ with .title }}<h3>{{.}}</h3>{{ end }}
                    <ul>
                        {{ range .list }}
                        <li>{{.name}}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Careers Section Start -->" | safeHTML }}
{{ end }}