{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{ . | safeHTML}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            <div class="col-12 col-md-6">
                <div class="map">
                    <a target="_blank" href="https://www.google.com/maps/@45.502233,-73.5680913,15.43z">
                        <img width="100%" src="{{ with .Site.Params.contact.mapImage | absURL }}{{.}}{{ end }}" alt="map">
                    </a>
                </div>
            </div>
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">
                <form id="contact-form" method="post" action="{{ with .Site.Params.contact.formActionURL }}{{ . | safeHTML }}{{ end }}" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="{{ with .Site.Params.contact.namePlaceholder }}{{ . | safeHTML }}{{ end }}" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="{{ with .Site.Params.contact.emailPlaceholder }}{{ . | safeHTML }}{{ end }}" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="{{ with .Site.Params.contact.subjectPlaceholder }}{{ . | safeHTML }}{{ end }}" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="{{ with .Site.Params.contact.messagePlaceholder }}{{ . | safeHTML }}{{ end }}" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        {{ with .Site.Params.contact.formActionSuccess }}{{ . }}{{ end }}
                    </div>

                    <div id="mail-fail" class="error">
                        {{ with .Site.Params.contact.formActionError }}{{ . }}{{ end }}
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="{{ with .Site.Params.contact.btnText }}{{ . }}{{ end }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>{{ with .Site.Params.contact.addressLabel }}{{ . }}{{ end }}</h4>
                    {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>{{ with .Site.Params.contact.phoneLabel }}{{ . | safeHTML }}{{ end }}</h4>
                    <p>
                        {{ if .Site.Params.contact.phone }} 
                        {{ with .Site.Data.labels.office }}{{ . }}{{ end }}: {{ with .Site.Params.contact.phone }}{{ . }} {{ end }}
                        <br>
                        {{ end }}
                        {{ if .Site.Params.contact.fax }} 
                        {{ with .Site.Data.labels.fax }}{{ . }}{{ end }}: {{ with .Site.Params.contact.fax }}{{ . }} {{ end }}
                        {{ end }} 
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>{{ with .Site.Params.contact.socialLabel }}{{ . | safeHTML }}{{ end }}</h4>
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dribbble }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-dribbble"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}